html{
    background: #c3d9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c3d9ff 0%,#b1c8ef 41%,#98b0d9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c3d9ff 0%,#b1c8ef 41%,#98b0d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
span{
    text-transform: uppercase;
    
}
body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+7,89c3eb+23,abd3ee+32,abd3ee+35,abd3ee+35,88a0e8+46,abd3ee+50,88a0e8+59,abd3ee+80,abd3ee+80,d5ebfb+100 */
background: rgb(235,241,246); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 7%, rgba(137,195,235,1) 23%, rgba(171,211,238,1) 32%, rgba(171,211,238,1) 35%, rgba(171,211,238,1) 35%, rgba(136,160,232,1) 46%, rgba(171,211,238,1) 50%, rgba(136,160,232,1) 59%, rgba(171,211,238,1) 80%, rgba(171,211,238,1) 80%, rgba(213,235,251,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 7%,rgba(137,195,235,1) 23%,rgba(171,211,238,1) 32%,rgba(171,211,238,1) 35%,rgba(171,211,238,1) 35%,rgba(136,160,232,1) 46%,rgba(171,211,238,1) 50%,rgba(136,160,232,1) 59%,rgba(171,211,238,1) 80%,rgba(171,211,238,1) 80%,rgba(213,235,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 7%,rgba(137,195,235,1) 23%,rgba(171,211,238,1) 32%,rgba(171,211,238,1) 35%,rgba(171,211,238,1) 35%,rgba(136,160,232,1) 46%,rgba(171,211,238,1) 50%,rgba(136,160,232,1) 59%,rgba(171,211,238,1) 80%,rgba(171,211,238,1) 80%,rgba(213,235,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    width: 80%;
    height: 80%;
}
body.body-index{

    display: flex;
    justify-content: center;
    align-items: center;

}
body.body-bloques{
    display: block;


}


.formulario{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
background: rgb(252,255,244); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 5rem;
    width: 50%;
    height: 5%;

}

